<?php

defined('TelegramBotId') or define('TelegramBotId', 'telegram_bot_id');

return [
    'components' => [
        'db' => [
            'class' => 'yii\db\Connection',
            'dsn' => 'mysql:host=localhost;dbname=dbname',
            'username' => 'username',
            'password' => 'password',
            'charset' => 'utf8',
        ],
        'mailer' => [
            'class' => 'yii\swiftmailer\Mailer',
            'viewPath' => '@common/mail',
            'useFileTransport' => true,
        ],

        //        'mailer' => [
        //            'class' => 'yii\swiftmailer\Mailer',
        //            'viewPath' => '@common/mail',
        //            // send all mails to a file by default. You have to set
        //            // 'useFileTransport' to false and configure a transport
        //            // for the mailer to send real emails.
        //
        //            'transport' => [
        //                'class'      => 'Swift_SmtpTransport',
        //                'host'       => 'smtp-pulse.com',
        //                'username'   => 'freedom.way@yandex.ua',
        //                'password'   => 'aSDASDASDASDAS', // your password
        //                'port'       => '2525',
        ////                'encryption' => 'tls',
        //            ],
        //
        ////            'useFileTransport' => true,
        //        ],
    ],
];
